<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>
    <div class="panel-body"  >
        <div class="row" style="text-align:center;">
            {{Description}}
        </div>
        <div class="row" style="padding:10px; ">
            <span>
                <img src="./assets/images/tile4.jpg"
                class="img-responsive center-block"
                style="max-height:300px;padding-bottom:50px"/>
                </span>
            <form>
                <div><u>Contact Us</u></div><br>
                <address>
                    <strong>Tiles Kart Inc.</strong><br>
                    Hong Kong<br>
                    <abbr title="Phone">
                        Phone:
                    </abbr>
                    556575<br>
                    <a href="mailto:#">tileskart@gmail.com</a>
                </address>     
            </form>      
        </div>
    </div>
 </div>